include AUTHORS
include INSTALL
include LICENSE
include MANIFEST.in
include README.rst
include dev_requirements.txt
include requirements.txt
include setup.py
recursive-include ella_polls/locale *
recursive-include ella_polls/templates *

global-exclude *.pyc
global-exclude *.pyo
global-exclude .coverage
