include AUTHORS
include INSTALL
include LICENSE
include MANIFEST.in
include README.rst
include dev_requirements.txt
include requirements.txt
recursive-include test_ella_polls *
recursive-include ella_polls/locale *
recursive-include ella_polls/templates *

global-exclude .coverage
exclude test_ella_polls/settings/local.py
